*{
    margin: 0;
    padding: 0;
}

/*Fuentes a utilizar - puedo agregar más en un futuro*/
/*font-family: 'Roboto', sans-serif;   -  Fuente 1*/ 

/*El codigo fue hecho a prueba y error - algunas partes las sabia ya que estuve haciendo el curso de diseño responsivo de Freecodecamp*/

.logo1{
    width: 100%;
    height: 90px;
    background: rgb(230, 230, 230);
}

#logo{
    width: 90px;
    height: 90px;
    position: relative;
    align-items: center;
    left: 50%;
    right: 50%;
}

.container-generes{
    top: 0;
    height: 90px;
    left: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: black;
}

a{
    color: black;
}

/*No se como adaptar el contenido a diferentes dispostitivos así que espero solucionar eso en las proximas semanas*/

.generos, .generos1{
    list-style: none;
    display: flex;
    padding: 1;
    margin: 0;
}

.generos1{
    cursor: pointer;
    margin: 12px;
    padding: 10px 20px;
    color: rgb(100, 100, 100);
    border-radius: 10px;
    background: white;
    font-family: 'Roboto', sans-serif;
}

.user-inter{
    top: 0;
    left: 73.7%;
    height: 90px;
    width: 400px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
}

.nav-2{
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(198, 198, 198);
}
